.Unit {
  height: 2em;
  width: 2em;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 2px;
  /* box-shadow: 2px 2px #000; */
  border-radius: 3px;
}

.Shape {
  display: inline-block;
}

.ShapeController {
  display: inline-block;
  position: absolute;
  transform-origin: bottom left;
}

.GameContainer {
  border: 2px solid black;
  height: calc(40em + 38px);
  width: calc(20em + 18px);
  margin-right: 8px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 2em [col-start]);
  grid-template-rows: repeat(20, 2em [row-start]);
  grid-gap: 2px;
}
